############### log files ################ 
_xmsgs/
alibs.do
cds.lib
compile.asim
compile.dc
compile.etools
compile.ghdl
compile.ncsim
compile.planAhead
compile.rc
compile.son
compile.synp
compile.vivado
compile.vsim
compile.xst
fmref.tcl
ghdl.path
hdl.var
leon3mp.bgn
leon3mp.bld
leon3mp.lct
leon3mp.ldf
leon3mp.lso
leon3mp.map
leon3mp.mrp
leon3mp.msk
leon3mp.ncd
leon3mp.ngc
leon3mp.ngd
leon3mp.ngm
leon3mp.npl
leon3mp.pad
leon3mp.par
leon3mp.pcf
leon3mp.ptwx
leon3mp.srp
leon3mp.syn
leon3mp.twr
leon3mp.twx
leon3mp.unroutes
leon3mp.xise
leon3mp.xpi
leon3mp.xst
leon3mp1.bit
leon3mp_bitgen.xwbt
leon3mp_files.prj
leon3mp_ise.tcl
leon3mp_libero.prj
leon3mp_map.xrpt
leon3mp_ngdbuild.xrpt
leon3mp_pad.csv
leon3mp_pad.txt
leon3mp_par.xrpt
leon3mp_precision.tcl
leon3mp_precrun.tcl
leon3mp_quartus.qpf
leon3mp_quartus.qsf
leon3mp_summary.xml
leon3mp_synplify.npl
leon3mp_synplify.qpf
leon3mp_synplify.qsf
leon3mp_synplify_win32.npl
leon3mp_usage.xml
leon3mp_win32.npl
leon3mp_xst.xrpt
libero_sim_files
libero_simlist
libero_syn_files
libero_synlist
libs.do
make.asim
make.asim-addfile
make.ncsim
make.riviera
make.son
make.vsim
modelsim.ini
netlist.lst
out.txt
par_usage_statistics.html
simulation/
testbench.mpf
tmpmake.ghdl
usage_statistics_webtalk.html
verilog.txt
webtalk.log
xlnx_auto_0_xdb/
xst/
sonata.sws
tmp.son
symphony.ini
main.tk
tkcond.o
tkgen.o
tkparse.exe
tkparse.o
leon3mp.rc
leon3mp_dc.tcl
leon3mp_designer.tcl
leon3mp_designer_act.tcl
leon3mp_etools_create.tcl
leon3mp_synplify.prj
make.work
modelsim/
transcript
lib3tests.a
ahbrom
ahbrom.bin
*.wlf
.config.old
webtalk_pn.xml
leon3mp.gise
leon3mp.ngr
leon3mp.prj
leon3mp.stx
leon3mp.syr
leon3mp_guide.ncd
leon3mp_map.map
leon3mp_map.mrp
leon3mp_map.ncd
leon3mp_map.ngm
leon3mp_envsettings.html
leon3mp.cmd_log
leon3mp_summary.html
iseconfig/
netgen/
.*.swp
.*.*.swp
filenames*.log

################### program files ###################
main.s

################### vhd files ###################
#ahbrom.vhd

################### object files ###################
*.o

################### mem and hex files ###################
*.mem
*.hex
*.ihex
prog.S
!prom.S


################### srec files ###################
*.exe



####################### Misc #####################
#build.sh
*.sdf
*.rpt
*.sdf
*.rpt
Pantea*.txt
pantea*.txt
wave*.do
test.S
test.s
observations.txt
test_TI.s
test_TI.S
crre*.txt
check_design*
dc*.log
main

designs/leon3-asic/alib-52/
designs/leon3-asic/command.log
designs/leon3-asic/leon3mp_mw_lib/*
designs/leon3-asic/synopsys/techmap/*
leon3-terasic-de2-115/
*.qpf
*.qsf


####################### software folder #####################
asm-implems
bin
gdb
results
out_perfs.txt
*~
